html * {
  margin: 0;
  padding: 0;
  font-size: 13px;
  color: #fff;
  font-weight: normal;
  border: 0;
  list-style: none;
  list-style-position: inside;
  box-sizing: border-box;
  font-family: "Roboto";
}
body {
  background: url('bluebg.jpg') no-repeat center top;
}
.wrapper {
  width: 900px;
  margin: 0 auto;
  padding-top: 20px;
}
.photo-list {
  padding: 5px;
  position: relative;
}
.photo-container {
  border: 1px solid #fff;
  border-radius: 6px;
  width: 700px;
  margin: 0 auto;
  text-align: center;
  background-color: #000;
  margin-bottom: 20px;
}
.photo-container .title {
  font-size: 16px;
  font-weight: bold;
  background-color: #efefef;
  padding: 5px;
  border-radius: 5px 5px 0 0;
}
.photo-container .img {
  display: inline-block;
  padding: 5px;
}
.photo-container .img img {
  display: block;
  max-width: 100%;
  height: auto;
}
.thumb-list li {
  display: inline-block;
  vertical-align: top;
  border: 2px solid #1a4293;
  margin: 3px;
}
.thumb-list li:hover {
  border-color: #87b0ed;
}
.thumb-list .img {
  border: 2px solid #fff;
}
.thumb-list .img img {
  height: 100px;
  display: block;
}
.photo-detail {
  position: relative;
}
.photo-detail .img {
  text-align: center;
}
.photo-detail .img img {
  border: 2px solid #fff;
}
.photo-detail .title {
  text-align: center;
}
.photo-detail .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
.photo-detail .overlay .tag-list {
  display: inline-block;
  width: 500px;
  height: 500px;
  /* background-color: rgba(255,0,0,0.2);*/
  position: relative;
}
.photo-detail .overlay .tag-list .tag {
  position: absolute;
}
.photo-detail .overlay .tag-list .tag .fa-tag {
  text-shadow: 2px 2px 5px #000;
  transition: all 100ms;
}
.photo-detail .overlay .tag-list .tag .form {
  display: none;
}
.photo-detail .overlay .tag-list .tag .form .remove-but {
  padding: 5px;
}
.photo-detail .overlay .tag-list .tag .form .remove-but i {
  color: #f00;
}
.photo-detail .overlay .tag-list .tag.hover .fa-tag {
  -webkit-transform: rotate(45deg);
}
.photo-detail .overlay .tag-list .tag.hover .form {
  display: block;
}
.photo-detail .overlay .tag-list .form {
  position: absolute;
  top: -3px;
  left: 20px;
  width: 200px;
  border: 1px solid #ccc;
  background-color: #efefef;
  padding: 5px;
  border-radius: 4px;
  color: #666;
  text-align: left;
  z-index: 25;
}
.photo-detail .overlay .tag-list .form input {
  height: 20px;
  line-height: 14px;
  padding: 3px;
  color: #666;
}
.photo-detail .overlay .tag-list .form input:focus {
  border: 1px solid #87b0ed;
}
.page-title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}
.pulse {
  -webkit-animation: pulser 0.3s linear ;
  animation: pulser 0.3s linear;
}
@-webkit-keyframes pulser {
  0% {
    -webkit-transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
