html * {
  margin: 0;
  padding: 0;
  font-size: 13px;
  color: #fff;
  font-weight: normal;
  border: 0;
  list-style: none;
  list-style-position: inside;
  box-sizing: border-box;
  font-family: "Roboto";
}
body {
  background: url('/static/bluebg.jpg') no-repeat center top;
}
.wrapper {
  width: 900px;
  margin: 0 auto;
  padding-top: 20px;
}
.photo-list {
  padding: 5px;
  position: relative;
}
.photo-container {
  border: 1px solid #fff;
  border-radius: 6px;
  width: 700px;
  margin: 0 auto;
  text-align: center;
  background-color: #000;
  margin-bottom: 20px;
}
.photo-container .title {
  font-size: 16px;
  font-weight: bold;
  background-color: #efefef;
  padding: 5px;
  border-radius: 5px 5px 0 0;
}
.photo-container .img {
  display: inline-block;
  padding: 5px;
}
.photo-container .img img {
  display: block;
  max-width: 100%;
  height: auto;
}
.thumb-list li {
  display: inline-block;
  vertical-align: top;
  border: 2px solid #1a4293;
  margin: 3px;
}
.thumb-list li:hover {
  border-color: #87b0ed;
}
.thumb-list .img {
  border: 2px solid #fff;
}
.thumb-list .img img {
  height: 100px;
  display: block;
}
.photo-detail {
  position: relative;
}
.photo-detail .img {
  text-align: center;
}
.photo-detail .img img {
  border: 2px solid #fff;
}
.photo-detail .title {
  text-align: center;
}
.photo-detail .footer {
  text-align: center;
}
.photo-detail .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 30px;
  text-align: center;
}
.photo-detail .overlay .tag-list {
  display: inline-block;
  width: 500px;
  height: 500px;
  /* background-color: rgba(255,0,0,0.2);*/
  position: relative;
}
.photo-detail .overlay .tag-list .tag {
  position: absolute;
}
.photo-detail .overlay .tag-list .tag .fa-tag {
  text-shadow: 2px 2px 5px #000;
  transition: all 100ms;
}
.photo-detail .overlay .tag-list .tag .form {
  display: none;
}
.photo-detail .overlay .tag-list .tag .form .remove-but,
.photo-detail .overlay .tag-list .tag .form .collapse-but {
  padding: 5px;
}
.photo-detail .overlay .tag-list .tag .form .remove-but .fa-close,
.photo-detail .overlay .tag-list .tag .form .collapse-but .fa-close {
  color: #f00;
}
.photo-detail .overlay .tag-list .tag .form .remove-but .fa-arrow-left,
.photo-detail .overlay .tag-list .tag .form .collapse-but .fa-arrow-left {
  color: #666;
}
.photo-detail .overlay .tag-list .tag.hover .fa-tag {
  -webkit-transform: rotate(45deg) translateX(-5px) translateY(10px);
}
.photo-detail .overlay .tag-list .tag.hover .form {
  display: block;
}
.photo-detail .overlay .tag-list .form {
  position: absolute;
  top: 0px;
  left: 15px;
  width: 230px;
  border: 1px solid #ccc;
  background-color: #efefef;
  padding: 5px;
  border-radius: 4px;
  color: #666;
  text-align: left;
  z-index: 25;
}
.photo-detail .overlay .tag-list .form input {
  height: 20px;
  line-height: 14px;
  padding: 3px;
  color: #666;
  outline: none;
  border: 1px solid #ccc;
}
.photo-detail .overlay .tag-list .form input:focus {
  border: 1px solid #87b0ed;
}
.photo-detail.read-only a {
  color: #1a4293;
}
.btn {
  padding: 0.3em 0.6em 0.375em;
  border: 1px solid #999;
  border-bottom-color: #888;
  margin: 0;
  text-decoration: none;
  text-align: center;
  font: bold 11px normal 'lucida grande', tahoma, verdana, arial, sans-serif;
  white-space: nowrap;
  cursor: pointer;
  /* outline: none; */
  color: #333;
  background-color: #eee;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f6f6), to(#e4e4e3));
  background-image: -moz-linear-gradient(#f5f6f6, #e4e4e3);
  background-image: -o-linear-gradient(#f5f6f6, #e4e4e3);
  background-image: linear-gradient(#f5f6f6, #e4e4e3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f6f6', EndColorStr='#e4e4e3');
  /* for IE 6 - 9 */
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #ffffff;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #ffffff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #ffffff;
}
.page-title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}
.pulse {
  -webkit-animation: pulser 0.3s linear ;
  animation: pulser 0.3s linear;
}
@-webkit-keyframes pulser {
  0% {
    -webkit-transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
.product-container {
  background-color: #fff;
  padding: 5px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.product-container h2,
.product-container li {
  color: #666;
}
.product-container h2,
.product-container .image {
  margin-bottom: 5px;
}
.product-container .image {
  text-align: left;
}
.product-container .image img {
  width: 100%;
}
.product-container a {
  color: #1a4293;
}
.product-container ul {
  margin-bottom: 5px;
}
.product-container ul li {
  width: 49%;
  display: inline-block;
  text-align: right;
}
.product-container ul li.brand {
  text-align: left;
  text-transform: uppercase;
}
.autocomplete-w1 {
  background: url(img/shadow.png) no-repeat bottom right;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 6px 0 0 6px;
  /* IE6 fix: */
  _background: none;
  _margin: 1px 0 0 0;
}
.autocomplete {
  border: 1px solid #999;
  background: #FFF;
  cursor: default;
  text-align: left;
  max-height: 350px;
  overflow: auto;
  margin: -6px 6px 6px -6px;
  /* IE6 specific: */
  _height: 350px;
  _margin: 0;
  _overflow-x: hidden;
}
.autocomplete .selected {
  background: #F0F0F0;
}
.autocomplete div {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}
.autocomplete strong {
  font-weight: normal;
  color: #3399FF;
}
.autocomplete-suggestions {
  overflow: auto;
  border: 1px solid #CBD3DD;
  background: #FFF;
}
.autocomplete-suggestion {
  overflow: hidden;
  padding: 5px 15px;
  white-space: nowrap;
  color: #666;
}
.autocomplete-selected {
  background: #F0F0F0;
}
.autocomplete-suggestions strong {
  color: #029cca;
  font-weight: normal;
}
